* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #D8D8D8;
}

body {
    font-family: 'Montserrat', Arial;
    box-sizing: border-box;
}


/* Color dark- or lightmode*/

@media (prefers-color-scheme: dark) {
    body {
        background: gray;
        color: white;
    }
    .nav-link {
        color: yellow;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        color: khaki
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: lightgray;
        color: black;
    }
    .nav-link {
        color: blue;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: black;
        font-weight: bold;
    }
}

.download h2,
.download h3,
.download h4 {
    color: blue;
}

table,
th {
    font-size: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

nav {
    height: 10%;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
}

nav {
    list-style-type: none;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    color: white;
}

nav a:hover {
    color: hotpink;
    text-decoration: underline;
}


/* selected link */

nav a:active {
    color: green;
    text-decoration: underline;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

.navbar {
    border: red;
    border-style: ridge;
    border-width: 5px;
    width: 100%;
    display: block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 25px;
}

.active,
nav li:hover {
    background-color: silver;
    color: white;
}

.label-download {
    font-size: 25px;
}

#table-download {
    margin-top: 40px;
}

td a {
    color: black;
}

td a:hover {
    color: blue;
    text-decoration: underline;
}


/* selected link */

td a:active {
    color: green;
    text-decoration: underline;
}

td a:link {
    text-decoration: none;
}

td a:visited {
    color: grey;
    text-decoration: none;
}

.error {
    font-size: 30px;
}

.error h1 {
    font-size: 60px;
}

.list {
    font-size: 30px;
    list-style-type: none;
    margin-top: 30px;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    display: flex;
    padding: 10px;
}

#menu-ergebnis {
    color: red;
    font-size: 40px;
}

.menu {
    width: 3%;
}

td {
    padding: 3px;
}

.file-type {
    text-align: center;
    left: 60px;
}

.file-size {
    position: relative;
    text-align: right;
    padding-right: 12px;
}

.btn-primary:visited {
    color: white;
}

tr:hover {
    background-color: coral;
}

.sortbutton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
    text-align: inherit;
    padding: 0;
    cursor: pointer;
}

.sortierbar thead th span.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.sortierbar caption span {
    font-weight: normal;
    font-size: .8em;
}

.sortbutton svg {
    margin-left: .2em;
    height: .7em;
}

.sortbutton.sortedasc svg path:last-of-type {
    fill: currentColor !important;
}

.sortbutton.sorteddesc svg path:first-of-type {
    fill: currentColor!important;
}

.sortbutton.sortedasc>span.visually-hidden:first-of-type {
    display: none;
}

.sortbutton.sorteddesc>span.visually-hidden:last-of-type {
    display: none;
}

.sortbutton.unsorted>span.visually-hidden:last-of-type {
    display: none;
}

table {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse
}

table td {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 3px
}

table th {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 3px;
    cursor: pointer;
}

table h2 {
    margin: 0
}

table caption {
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
}

table.is_sortable thead th {
    background-color: lightgray;
}

.slidecontainer {
    width: 60%;
    margin-left: 20%;
    position: absolute;
    right: -100px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.conf {
    padding: 0.5em;
    border: 1px solid black;
    background-color: #fff;
    width: 70%;
}

.highlighting {
    color: blue;
}

.highlighting:hover {
    background-color: yellow;
}

.highlightingCM {
    color: #556B2F;
}

.highlightingCM:hover {
    background-color: yellow;
}

.mail-address {
    width: 30%;
}

#mail-data {
    resize: none;
    width: 50%;
    height: 250px;
}

.zoom {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.zoom-active {
    transform: scale(1.5, 1.5);
    transform-origin: top left;
}

.userpannel {
    margin: 30px 30px 30px;
    width: 100%;
}